  * {
   box-sizing: border-box;
 }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24303c;
  }
  
  li {
    float: right;
    font-family: 'calibri';
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logo {
    float: left;
    margin-right: 0px;
    margin-top: 0%;
    max-width: 100%;
    height: auto;
  }

  .brand {
    display: inline;
    text-align: center;
  }

  button { 
    font-family: 'calibri';
    font-size: 15px;
  } 

  h1{
    font-family:'Brush Script MT', cursive;
    color: white;
    font-size: 55px;
  }

  h2{
    text-align: center;
    font-family: 'calibri';
    color: #24303c;
  }

  body {
    font-family: 'calibri';
    font-size: 15px;
  }

  .photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  .box {
    display: inline-block;  
  }

  p {
    width: 0;
    min-width: 100%;
  }

  footer{
    padding: 20px;
    text-align:center;
    font-family: 'calibri';
  }

  .registro{        
    background: #24303c;
  }

  .container {
    border-radius: 5px;
    background-color:  #f2f2f2;
    padding: 20px 70px 20px 70px;
    width: 40%;
    margin:0 auto;
  }

  .form_registro{
    width:100%; 
    margin:0 auto; 
  }

  .form-field input {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'calibri';
    color:  #24303c;
  }

  .form-field label {
    font-family: 'calibri';
    color:  #24303c;
    font-weight: bold;
  }

  .form-field.error input {
    border-color:  #D8000C;
  }

  .form-field.success input {
    border-color: #28a745;
  }

  span {
    font-size: 10px;
    color: #D8000C;
  }

  input[type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1f53c5;
    font-family: 'calibri';
    color: white;
    font-size: 15px;
    font-weight: bold;
  } 

  .footer_registro {
    text-align:center;
    font-family: 'calibri';
    color: white;
    font-size: 15px;
  }

  /* Responsive layout */
  @media screen and (max-width: 600px) {
    body, .container {
      width: 100%;
    }
  }